@model IEnumerable<Students.Models.Student_Pelka>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:dimgray">Spisak studenata</h2> 
<p>
    @using (Html.BeginForm())
    {
        <b>Pretrazi po: </b>
        @Html.RadioButton("search by", "Name") <text>Imenu</text><br />
        @Html.TextBox("search") <input type="submit" value="Pretrazi" />
    }
</p>
<p>
    @Html.ActionLink("Novi student", "Create")
</p>

    <table class="table">
        <tr style="background-color:dimgray">
            <th style="color:white">
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th style="color:white">
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th style="color:white">
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th style="color:white">
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th style="color:white">
                @Html.DisplayNameFor(model => model.Datum_rodjenja)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum_rodjenja)
                </td>

                <td>
                    @Html.ActionLink("Izmjeni podatke", "Edit", new { id = item.ID_studenta }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.ID_studenta }) |
                    @Html.ActionLink("Izbrisi", "Delete", new { id = item.ID_studenta })
                </td>
            </tr>
        }

    </table>
